@media ($xss) {
  html {
    font-size: 12px;
  }
}
@media ($xs) {
  html {
    font-size: 12px;
  }
}

@media ($sm) {
  html {
    font-size: 13px;
  }
}

@media ($md) {
  html {
    font-size: 14px;
  }
}

@media ($lg) {
  html {
    font-size: 15px;
  }
}

@media ($xl) {
  html {
    font-size: 15px;
  }
}

@media ($xxl) {
  html {
    font-size: 15px;
  }
}

@media ($lg) {
  .container {
      width: 90%;
  }
}
@media ($xl) {
  .container {
      width: 80%;
  }
}